@keyframes bounce{
    0% { transform: translateY(0px); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0px); }
}

@keyframes bounce2{
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

@keyframes bounce3{
    0% { transform: rotate(0deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fade-in{
    0% { transform: scale(0.8, 0.8); opacity: 0; }
    100% { transform: scale(1, 1); opacity: 1; }
}

@keyframes fade-out{
    0% { transform: scale(1, 1); opacity: 1; }
    100% { transform: scale(0.8, 0.8); opacity: 0; }
}

@keyframes stamp{
    0% { transform: scale(2, 2); opacity: 0; }
    100% { transform: scale(1, 1); opacity: 0.7; }
}

@keyframes stamp2{
    0% { transform: scale(2, 2); opacity: 0; }
    100% { transform: scale(1, 1); opacity: 1; }
}

@keyframes popupTweet{
    0% { transform: scale(0.7, 0.7); opacity: 0; }
    100% { transform: scale(1, 1); opacity: 1; }
}

@keyframes inject{
    40% { transform: translateY(0px); }
    50% {transform: translateY(10px);}
    60% {transform: translateY(0px);}
    70% {transform: translateY(10px);}
}

@keyframes flashing{
    0% { opacity: 0; }
    50% {opacity: 0.7;}
    100% { opacity: 0; }
}

@keyframes flashing2{
    0% { opacity: 1; }
    50% {opacity: 0;}
    100% { opacity: 1; }
}

@keyframes btnFlashing{
    0% { background: #0022F4; }
    50% {background: #8F00FF;}
    100% { background: #0022F4; }
}

@keyframes goDark{
    0% { background: #ffffff; }
    100% { background: #000000; }
}

@keyframes team{
    0% {transform: translateY(-600px);}
    100% {transform: translateY(0px);}
}

@keyframes slowdown{
    0% {bottom: -100px; opacity: 0;}
    30% {bottom: 50px; opacity: 1;}
    50% {bottom: 50px; opacity: 1;}
    70% {bottom: 50px; opacity: 1;}
    100% {bottom: -100px; opacity: 0;}
}

@keyframes rotating{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*@keyframes twitterUp {
    0% { transform: translateY(0px);}
    100% { transform: translateY(-100px);}
}*/

@font-face {
    font-family: rb;
    src: url(./assets/fonts/rit.otf);
}

*{
    margin: 0;
    padding: 0;
}

span{
    cursor: default;
    user-select: none;
}

button{
    border-radius: 100px;
    border:none;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background: #0022F4;
    user-select: none;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 1px rgba(0,36,255,0.05), 0 3px 2px rgba(12, 24, 104, 0.02);
    outline:none;
    cursor: pointer;
}

button:hover{
    background: #0024FF;
    box-shadow: 0 3px 8px rgba(0,36,255,0.3), 0 3px 11px rgba(0,36,255,0.5);
}

button:focus{
    background: #314EFF;
    box-shadow: 0 3px 6px rgba(0,36,255,0.5), 0 3px 6px rgba(0,36,255,0.8);
}

#music {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: 99999;
}

#music img{
    width: 50px;
}

#slowdown{
    position: absolute;
    display: none;
    bottom: -100px;
    width: 100%;
    text-align: center;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#slowdown-inner{
    width: 200px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background: #0022F4;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0,36,255,0.5), 0 3px 6px rgba(0,36,255,0.8);
    text-align: center;
}

.title-text-1{
    font-size: 44px;
    font-weight: bold;
}

.title-text-2{
    font-size: 32px;
    font-weight: normal;
}

.title-text-4{
    font-size: 16px;
    font-weight: normal;
    opacity: 0.4;
}



.inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.ani_fade_out{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.ani_fade_in{
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#ani_virus{
    bottom: 60px;
    left: 60px;
    opacity: 0.1;
    
}

.bounce{
    animation-name: bounce;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#ani_drug{
    bottom: 160px;
    right: 60px;
    opacity: 0.1;
}

#ani_twitter{
    bottom: 140px;
    right: 240px;
    opacity: 0.06;
}

#ani_scope{
    bottom: 360px;
    left: 320px;
    opacity: 0.05;
}

.ani_obj {
    position: absolute;
    z-index: -1;
}

.bounce2{
    animation-name: bounce2;
    animation-duration: 6s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.bounce3 {
    animation-name: bounce3;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
} 

#app{
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.line{
    height: 4px;
    width: 100%;
    background-color: #999999;
}

.page{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    position: fixed;
    background: #ffffff;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#topping{
    position: absolute;
    top: 40%;
    transform: translate(0, -60%);
    width: 100%;
    text-align: center;
}


#topping-inner{
    width: 100%;
}


#topping-head img{
    width: 180px;
}

#topping-head-text{
    margin-top: 40px;
}

#topping-head-text span{
    opacity: 0.5;
    font-size: 14px;
}

#topping-title-blue{
    margin-top: 20px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#topping-title-black{
    width: 100%;
    opacity: 0;
    margin-top: 10px;
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#topping-title-black span{
    width: 50%;
}

#topping-title span{
    font-size: 36px;
}

#topping-title-blue span{
    font-size: 42px;
    color: #0022F4;
    font-weight: bold;;
}

#topping-title-black span{
    font-size: 20px;
}

.topping-line-2{
    margin-top: 40px;
}

#topping-injector{
    position: fixed;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    cursor: pointer;
    animation-name: inject;
    animation-duration: 1.3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#topping-injector img {
    width: 80px;
    transform: rotate(-45deg);
}

#data{
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.data-single{
    padding-top: 10px;
    text-align: left;
}

#data-map{
    position: absolute;
    width: 40%;
    right: 10px;
    top: 40px;
    opacity: 0.1;
    z-index: -1;
}

#data-map img{
    width: 100%;
}

.data-update{
    margin-top: 32px;
    text-align: left;
    opacity: 0.2;
}

.data-tit{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.4;
}

.data-num{
    font-size: 200px;
    font-weight: bold;
    color: #0022F4;
}

#gragh{
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#gragh img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-lwl{
    width: 100%;
}

.lwl-inner{
    display: flex;
}


.lwl-para{
    margin-top: 20px;
}

.lwl-photo{
    width: 35%;
}

.lwl-photo img{
    width: 100%;
    filter: grayscale(100%);
    transition: all .42s cubic-bezier(.25,.8,.25,1);
}

.lwl-photo img:hover{
    filter: grayscale(0%);
}

.lwl-text-que{
    margin-top: 0px;
}


.lwl-text-que span{
    font-size: 26px;
    font-weight: normal;
}

.lwl-text-answer{
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 54px;
    font-family: rb;
    color: #0022F4;
}

.lwl-text-area{
    width: 65%;
    margin-left: 30px;
}

.lwl-brief{
    position: absolute;
    bottom: 30px;
    opacity: 0.5;
    font-size: 12px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
}

.lwl-brief:hover{
    opacity: 1;
}

.lwl-sign{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.lwl-fingure{
    position: absolute;
    bottom: 70px;
    right: 25px;
    opacity: 0;
    animation-duration: 1.4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lwl-text-answer{
    font-size: 32px;
}

.lwl-fingure img{
    width: 60px;
    transform: rotate(-24deg);
}

.page-twitter{

}

.twitter-inner{
    display: flex;
}

.twitter-wall{
    position: absolute;
    top: -200%;
    right: 40px;
    height: 1000px;
    width: 340px;
    overflow: hidden;
    border-top: 4px solid #0022F4;
}

.twitter-wall-2{
    position: absolute;
    top: -400%;
    right: 400px;
}

.twitter-single{
    display: block;
    height: 150px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.1);
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.twitter-single:hover{
    box-shadow: 0 3px 12px rgba(0,0,0,0.20), 0 3px 12px rgba(0,0,0,0.26);
}

.twitter-head{
    font-size: 16px;
    opacity: 0.4;
    margin-bottom: 8px;
}

.twitter-content{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.msg-input{
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 4px solid #0022F4;
    outline: 0;
    display: flex;
}

.msg-input input{
    font-size: 66px;
    border: none;
    font-weight: bold;
}

.input-flashing{
    font-size: 66px;
    font-weight: lighter;
    margin-left: -10px;
    animation-name: flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.msg-submit{
    width: 10%;
    margin-top: 30px;
}

#msg-submit-btn{
    animation-name: btnFlashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.msg-submit button{
    width: 100%;
    height: 50px;
}


.msg-msgs-s{
    position: absolute;
    width: 300px;
    height: 100px;
    padding: 20px;
    opacity: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid #0024FF;
    border-radius: 4px;;
    animation-duration: 0.06s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fake-inner{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 90%;
}

.fake-beer{
    width: 100%;
}

.fake-beer-img{
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.fake-beer-img img{
    width: 100%;
    filter: grayscale(100%);
    transition: all .42s cubic-bezier(.25,.8,.25,1);
}

.fake-beer-img img:hover{
    filter: grayscale(0%);
}

.fake-beer-text{
    text-align: center;
}

.question-ask{
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.question-ask button{
    margin-left: 6px;
    width: 340px;
    height: 60px;
}

.question-ans{
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    color: #000000;
}

#question-and-inner{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#page-video{
    transition: all 1.2s cubic-bezier(.25,.8,.25,1);
}


.video-vid{
    width: 100%;
    text-align: center;
}

.video-vid iframe{
    width: 60%;
    height: 360px;
}

.video-arrow{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    animation-name: flashing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.video-arrow img{
    width: 30px;
}

.page-flyer{
    background: #000000;
}

.flyer-inner{
    text-align: center;
}

.flyer-img{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flyer-img img{
    width: 100%;
}

.flyer-teams{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flyer-teams img{
    width: 100%;
    transform: translateY(-600px);
    animation-name: team;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flayer-teams-s{
    height: 100%;
    overflow:hidden;
}

#flyer-alert{
    position: absolute;
    top: 40%;
    transform: translate(-60%, -50%);
    width: 100%;
    height: 150px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    background: #0024FF;
    opacity: 0;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#flyer-alert-text{
    margin-top: 36px;
    color: #FBF955;
    font-weight: bold;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.ending-inner{
    width: 80%;
}

.ending-words{
    display: flex;
}

.ending-team{
    width: 30%
}

.ending-team img{
    width: 100%;
}

.ending-text{
    margin-left: 110px;
    margin-top: 20px;
}

.ending-buttons{
    margin-top: 60px;
}

.ending-buttons button{
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

